In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Carregar o dataset
df_colesterol = pd.read_csv('datasets/dataset_colesterol.csv')

In [3]:
df_colesterol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  1000 non-null   int64
 1   Grupo Sanguíneo     996 non-null    object
 2   Fumante             997 non-null    object
 3   Nível de Atividade  996 non-null    object
 4   Idade               997 non-null    float64
 5   Peso                997 non-null    float64
 6   Altura              997 non-null    float64
 7   Colesterol          1000 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 62.6+ KB

In [4]:
df_colesterol.head()

,Id,Grupo Sanguíneo,Fumante,Nível de Atividade,Idade,Peso,Altura,Colesterol
0,1,B,Sim,Baixo,33.0,85.1,186.0,199.63
1,2,A,Não,Moderado,68.0,105.0,184.0,236.98
2,3,O,Não,Alto,25.0,64.8,180.0,161.79
3,4,A,Não,Alto,43.0,120.2,167.0,336.24
4,5,AB,Não,Baixo,79.0,88.5,175.0,226.23

In [6]:
# Remover coluna ID
df_colesterol.drop('Id', axis=1, inplace=True)

In [7]:
df_colesterol.head()

  Grupo Sanguíneo Fumante Nível de Atividade  Idade   Peso  Altura  Colesterol
0               B     Sim              Baixo   33.0   85.1   186.0      199.63
1               A     Não           Moderado   68.0  105.0   184.0      236.98
2               O     Não               Alto   25.0   64.8   180.0      161.79
3               A     Não               Alto   43.0  120.2   167.0      336.24
4              AB     Não              Baixo   79.0   88.5   175.0      226.23

In [10]:
# Renomar colunas
df_colesterol.columns = ['grupo_sanguineo', 'fumante', 'nivel_atividade_fisica', 'idade', 'peso', 'altura', 'nivel_colesterol']

In [11]:
df_colesterol.head()

,grupo_sanguineo,fumante,nivel_atividade_fisica,idade,peso,altura,nivel_colesterol
0,B,Sim,Baixo,33.0,85.1,186.0,199.63
1,A,Não,Moderado,68.0,105.0,184.0,236.98
2,O,Não,Alto,25.0,64.8,180.0,161.79
3,A,Não,Alto,43.0,120.2,167.0,336.24
4,AB,Não,Baixo,79.0,88.5,175.0,226.23

In [12]:
# Copiar DF para DF EDA
df_colesterol_eda = df_colesterol.copy()

In [15]:
# Copiar DF para DF bucket
df_colesterol_bucket = df_colesterol.copy()